*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
.nav{
    background-color: #9D5353;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    padding: 20px;
}
.nav .menu{
    display: flex;
    list-style: none;
}
.nav .menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px; 
}
.nav ul li a:hover{
    color: #777;
}
.logo a:hover{
  color: #777;
}
.logo:hover{
    transform: translate(200px)
}
.texto-principal{

    background-image: url(./img/aula9.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    justify-content: center;
}
.texto-principal .texto{
    grid-column: 3/9;
    grid-row: 2/7;
    font-size: 20px;
    font-weight: bold;
}
.h4{
    text-align: center;
    color: #777;
    font-size: 25px;
    margin-top: 40px;
  
}
.articulos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
.imagenes{
    display: flex;
    gap: 20px;

}
.galeria{
width: 100%;

}
.galeria2{
    width: 100%;
 
}
.foto{
    display: flex;
    width: 100%;
 }
.ubicacion{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    justify-content: center;
    background-color: beige;
}
.mapa{
 padding-top: 50px;
}

.footer{
    display: grid;
    height: 150px;
    width: auto;
    background-color: #9D5353;
    justify-items: center;
    color: white;
    font-size: small;
    margin-bottom: 0;   
}
.footer .redes .lista{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.fondoform{
    background-image: url(./img/AULA6.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    justify-items: center;
    padding-top: 50px;
}
form{
    height: 600px;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding-top:40px;
    box-sizing: border-box;
    text-align: center;
 
}
.contacto{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
}
h5{
    color: #fff;
    text-align: center;
    font-size:20px;
    margin: 10px;
}
.h2{
    color: black;
    text-align: center;
    font-size:20px;
    margin: 10px; 
}
.youtube{
    text-align: center;
    padding-bottom: 75px;

}

input, textarea{
    width: 100%;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #31384a;
    padding: 20px;
    color: #fff;
}
#boton:hover{
    color: #777;
  }
  .galeria:hover{
    animation:foto 3s;
 }
 @keyframes foto{
     0%{
         transform: scale(1.4);
     }
    25%{
          transform:translateY(50px);
      }   
     }

.actividades{
    text-align: center;
    color: #777;
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 2;
}
      @media only screen and (max-width:785px) {

        .logo a{
          display: none;
        }
        .nav{
            justify-content: center;
            height: auto;
     
        }
        .nav .menu{
          
            height: auto;
            justify-content: center;
            flex-direction: column;
    
        }
       
        .nav .menu a{
            font-size: 20px;
            color: white;
            justify-content: center;
            }
        } 
        @media only screen and (max-width:785px) {
            .texto-principal p{
            display: none;
            }
        }
        

        @media only screen and (max-width:768px) {
            .articulos{
                justify-content: center;
                grid-template-columns: 1fr;
                 }
            .mapa{
                     width: auto;

                 }
                }
        @media only screen and (max-width:480px) {
            form{
                width: 100%;
                padding-top: 180px;
            }
            .h5{
                font-size: 15px;
                margin: 0px;
            }
        }